<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=M+PLUS+Rounded+1c:wght@900&display=swap" rel="stylesheet">

    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <title>Your Mantra</title>
</head>
<body class="gradient-text">
    <h1>Your mantra starts here.</h1>

    <ul class="quotes">
        <!-- Loop through quotes -->
        <li class="quote">
          <!-- Output name from the iterated quote object -->
          <span><%= quotes.name %></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= quotes.quote %></span>
        </li>
    </ul>

    <div class="btn-link-container">
      <a href="/mantras"> <button class="btn gradient-text">Manage mantras</button></a>
    </div>
    
  </body>
</html>