*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

p{
    margin-top: 10px;
}

span, p, img{
    display: inline;
    margin: 0 2px;
}

.top-section{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.intro-text{
    margin-bottom: 20px;
    flex-basis: 40%;
}

.add-new-mantra{
    justify-content: center;
}

form{
    margin-top: 10px;
}

input{
    height: 4.5vh;
    border-radius: 5px;
    border: none;
}

.btn-container{
    background-color: white;
    border-radius: 6px;
    display: inline-block;
}

.quotes-section{
    min-height: 40vh;
    width: 60vw;
    margin: 0 auto;
    padding: 15px 0;
}

.quotes-section h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 15px 0;
}

.quotes-section ul{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}
.quotes-section ul li{
    margin: 15px 0;
}

.bottom-section{
    height: 20%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-section .btn-container{
    margin: 0 auto;
    margin-top: 7vh;
}
.bottom-section .btn{
    height: 40px;
    width: 100%;
    padding: 0 15px;
    font-size: 23px;
    border-radius: 6px;
}

.gradient-text{
    background-color: white;
    background-size: 800%;
    background-image: linear-gradient(
          -45deg, 
          rgba(90,58,255,1) 0%, 
          rgba(201,84,255,1) 25%, 
          rgba(255,84,181,1) 51%, 
          rgba(255,84,84,1) 100%
    ); 
    animation: AnimateBG 24s ease infinite;
}

.btn{
    font-family: sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 800;
    height: 4.5vh;
}

.btn{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  width: 100%;
  padding: 0 15px;
  border-radius: 6px;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
.btn:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }