*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1, p, ul, li{
    text-align: center;
    color: white;
}

h1{
    margin-top: 15vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15vh;
}
ul{
    margin-top: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 5vh;
}

.gradient-text{
    background-color: white;
    background-size: 800%;
    background-image: linear-gradient(
          -45deg, 
          rgba(90,58,255,1) 0%, 
          rgba(201,84,255,1) 25%, 
          rgba(255,84,181,1) 51%, 
          rgba(255,84,84,1) 100%
    ); 
    animation: AnimateBG 24s ease infinite;
}

.btn-link-container{
    margin-top: 30vh;
}

.btn{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
a{
    display: block;
    background-color: white;
    height: 48px;
    border-radius: 6px;
}
.btn{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  width: 100%;
  padding: 0 15px;
  font-size: 23px;
  border-radius: 6px;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
.btn:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}
  

  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
  